<div class="flex justify-center mb-4 flex-wrap gap-2">
  {{#each this.model.persons as |person|}}
    <button
      type="button"
      class="btn btn-xs rounded-full normal-case
        {{if
          (contains person this.persons)
          'btn-primary text-white'
          'btn-outline text-gray-600'
        }}"
      {{on "click" (fn this.togglePerson person)}}
    >
      {{person}}
    </button>
  {{/each}}
</div>

<div class="flex justify-center mb-4 gap-2">
  <input
    type="number"
    min="1"
    class="input input-xs w-16"
    value={{this.exportN}}
    {{on "input" this.updateExportN}}
  />
  <button type="button" class="btn btn-xs" {{on "click" this.exportTopN}}>
    Export Top N
  </button>
</div>

<!-- Remove the did-update modifier -->
<div>
  <PhotoGrid
    @photos={{this.visiblePhotos}}
    @sortAttribute={{this.sort}}
  />
</div>
