<!-- Person filters -->
<div class="flex justify-center mb-4 flex-wrap gap-2">
  {{#each this.model.persons as |person|}}
    <button
      type="button"
      class="btn btn-xs rounded-full normal-case
        {{if
          (contains person this.persons)
          'btn-primary text-white'
          'btn-outline text-gray-600'
        }}"
      {{on "click" (fn this.togglePerson person)}}
    >
      {{person}}
    </button>
  {{/each}}
</div>

<!-- Photo grid uses filteredAndSortedPhotos -->
<PhotoGrid
  @photos={{this.filteredAndSortedPhotos}}
  @albumUUID={{this.model.albumUUID}}
  @sortAttribute={{this.sort}}
/>